<header>
    <img class="logo-image" src="../public/images/logo.png" alt="Logo Image">
    <div class="category-header">Hats store</div>
    <div class="icons" data-id="header-icons">
        <img src="../public/images/search_icon.png" alt="Search">
        <a href="/cart"><img src="../public/images/cart_icon.png" alt="Cart"></a>
    </div>
</header>