<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../public/styles/cart_style.css">
</head>
<body>
    <script type="module" src="../public/scripts/cart.js"></script>
    <%- include('partials/header') %>
    <main>
        <div class="cart">
            <div class="cart-items">
            </div>
        </div>
        
    </main>
</body>
</html>

